@use "../../styles/base.scss" as vars;

.List-Container {
    display: flex;
    flex-direction: column;
    border: 3px solid vars.$secondaryColor;
    border-radius: 10px;
    min-height: 400px;
    width: 800px;
 
}

h2 {
    color: red;
}

ul{
    display:block;
    list-style: none;

    li{
        display:block;
    }
}
